<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title><%=title%></title>
    <%- include('partials/header.html') %>
</head>
<body>
    <% if (user) {%>
        <%- include('partials/navigationUserLog.html') %>
        <%} else {%>
            <%- include('partials/navigation.html') %>
        <%}%>

    <div class="container">
        <h1>¿Como Vender Tu proyecto o emprendimiento?</h1>

    <div class="container-fluid">
        <p>
            Perfecto! Gracias por Confiarnos tu proyecto
            <p>las acciones a realizar seran las siguientes:</p>
            <p>1-Una vez registrado en nuestro sitio dirigete al link con nombre <a href="/menu">Ofrece</a></p>
            <p>2-Recibiras un correo de aprobacion de nuestro staff para la publicacion de tu proyecto</p>
            <p>3- una vez subido tu proyecto revisa tu correo, ya que en el recibiras solicitudes, criticas y tambien veras el grado de popularidad de tu proyecto en nuestro sitio.</p>
            <p> Listo Bienvenido a NicaLancing ;3</p>
            <p></p>
        </p>
    </div>
    </div>
    
    
</body>
</html>