<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand animate__animated animate__bounceInUp" href="/">Nica Lancing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <!--<a class="nav-link active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link" href="/contact">About us</a>-->
                <a class="nav-link" href="/menu" >Ofrece</a>
                <a class="nav-link" href="/contact" >About us</a>
                <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/programntech">Programacion y Tecnologia</a></li>
                        <li><a class="dropdown-item" href="/design">Diseño</a></li>
                        <li><a class="dropdown-item" href="/videonanimation">Video y animacion</a></li>
                        <li><a class="dropdown-item" href="/business">Negocios</a></li>
                        
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    
                    <a href="#" title="USER" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="menu" data-bs-toggle="dropdown" aria-expanded="false">
                        <!--Aqui va el icono de usuario-->
                        <img src="https://freesvg.org/img/abstract-user-flat-4.png" width="30" height="30" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="../Perfil">Ver perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configurar perfil</a></li>
                        <li><a class="dropdown-item" href="/logout">Salir de sesión</a></li>
                    </ul>

                </li>

                  
            </div>
        </div>
    </div>
</nav>

